// _variables.scss
$white: #ffffff;
$white1: #f1f1f1;
$gray8: #888;
$gray5: #555;
$primary: #ff6200;
$primaryOrange: #ffc074;
$white2: #bebebe;
$secondary: #081b4e;
$gray7: #4b5563;
$gray3: #d1d5db;
$black: #000000;
$shadow: rgba(0, 0, 0, 0.1);
$gray1: #3b3b3b;
